<style>
        img:is([sizes="auto" i], [sizes^="auto," i]) { contain-intrinsic-size: 3000px 1500px }

        .header-maps{
            margin-top: 10px;
            font-size: 12px;
            background-color: rgb(230, 230, 230);
            color: rgba(100, 100, 100, 0.904);
            padding-top: 10px;
            padding-bottom: 10px;
            cursor: text;
            width: 100%;
        }

        .span-time{
            margin-left: 40px;
        }
        .span-map{
            margin-left: 40px;
        }
        .span-phone{
            margin-left: 40px;
        }

        .banner-card{
            margin-top: 10px;
            font-size: 12px;
            background-color: rgb(255, 255, 255);
            padding-top: 10px;
            padding-bottom: 10px;
            width: 100%;
            height: 80px;
        }

        .logo{
            width: 20%;
            margin-left: 50px;
            top: 100px;
            left: 40px;
        }

        .home-button{
            font-size: 20px;
            position: absolute;
            top: 13%;
            left: 850px;
            color: rgb(44, 44, 44);
            cursor: pointer;
        }

        .home-button:hover{
            color: red;
        }

        .about-button{
            font-size: 20px;
            position: absolute;
            top: 13%;
            left: 950px;
            color: rgb(236, 0, 0);
            cursor: pointer;
        }

        .about-button:hover{
            color: red;
        }

        .services-button{
            font-size: 20px;
            position: absolute;
            top: 13%;
            left: 1080px;
            color: rgb(44, 44, 44);
            cursor: pointer;
        }

        .services-button:hover{
            color: red;
        }

        .contact-button{
            font-size: 20px;
            position: absolute;
            top: 13%;
            left: 1190px;
            color: rgb(44, 44, 44);
            cursor: pointer;
        }

        .contact-button:hover{
            color: red;
        }

        .back{
            width: 100%;
            height: 800px;
            position: relative;
            top: 15%;
        }

        .subtitle{
            font-size: 14px;
            margin-left: 110px;
            color: gray;
            position: absolute;
            top: 40%;
        }

        .title{
            font-size: 43px;
            margin-left: 110px;
            position: absolute;
            top: 41%;
            width: 400px;
        }

        .info{
            font-size: 18px;
            margin-left: 110px;
            width: 520px;
            position: absolute;
            top: 67%;
        }

        .network{
            color: rgb(221, 3, 3);
        }

        .enjoy{
            font-size: 18px;
            margin-left: 110px;
            width: 520px;
            position: absolute;
            top: 94%;
            color: rgb(116, 112, 112);
        }

        .consultation{
            margin-left: 450px;
            position: absolute;
            top: 20%;
            width: 500px;
            margin-bottom: 500px;
        }

        .banner-card button{
            background-color: rgb(175, 23, 23);
            color: #fff;
            border: none;
            height: 40px;
            width: 120px;
            border-radius: 20px;
            cursor: pointer;
            position: absolute;
            top: 300%;
        }

        .banner-card button:hover{
            color: rgb(0, 83, 0);
            background-color: rgb(2, 199, 199);
        }

        .rates{
            width: 100%;
            height: 240px;
            position: relative;
            
        }

        .numbers{
            font-size: 40px;
            position: absolute;
            top: 150%;
            left: 180px;
            color: #fff;
        }

        .numbers-rate{
            font-size: 14px;
            position: absolute;
            top: 168%;
            left: 165px;
            color: #fff;
            cursor: text;
        }

        .project{
            font-size: 40px;
            position: absolute;
            top: 154.3%;
            left: 500px;
            color: #fff;
        }

        .project-rate{
            font-size: 14px;
            position: absolute;
            top: 168%;
            left: 450px;
            color: #fff;
            cursor: text;
        }

        .globe{
            font-size: 40px;
            position: absolute;
            top: 152%;
            left: 810px;
            color: #fff;
        }

        .globe-rate{
            font-size: 14px;
            position: absolute;
            top: 168%;
            left: 800px;
            color: #fff;
            cursor: text;
        }

        .clients{
            font-size: 40px;
            position: absolute;
            top: 152%;
            left: 1100px;
            color: #fff;
        }

        .clients-rate{
            font-size: 14px;
            position: absolute;
            top: 168%;
            left: 1070px;
            color: #fff;
            cursor: text;
        }

        .vc_single_image-img{
            margin-left: 60px;
        }

        .and-also{
            width: 100%;
            background-color: rgb(9, 53, 9);
            height: 320px;
            position: relative;
        }

        .logo2{
            width: 14%;
            height: 70px;
            margin-left: 50px;
            position: absolute;
            top: 10%;
            left: 40px;
        }

        .even-too{
            font-size: 18px;
            width: 350px;
            color: rgb(218, 222, 224);
            margin-left: 110px;
            position: absolute;
            top: 44%;
        }

        .menu-quick-links-container{
            font-size: 18px;
            width: 150px;
            position: absolute;
            top: 325%;
            margin-left: 700px;
            color: aliceblue;
        }

        .widget_title{
            font-size: 20px;
            font-family: 'Courier New', Courier, monospace;
            margin-left: 700px;
            color: #fff;
            position: absolute;
            top: 315%;
        }

        .home{
            color: #a8a3a3;
        }

        .home:hover{
            color: rgb(207, 17, 17);
        }
        
        .about{
            color: #a8a3a3;
        }

        .about:hover{
            color: rgb(207, 17, 17);
        }

        .services{
            color: #a8a3a3;
        }

        .services:hover{
            color: rgb(207, 17, 17);
        }

        .contact{
            color: #a8a3a3;
        }

        .contact:hover{
            color: rgb(207, 17, 17);
        }

        .copyright-scheme{
            width: 100%;
            height: 50px;
            font-size: 16px;
            background-color: rgb(1, 37, 1);
        }

        .copyright-text{
            color: #fff;
            margin-left: 470px;
        }

        .at{
            color: #a8a3a3;
        }

        .shadow{
            height: 38px;
            position: absolute;
            top: 347%;
            width: 98.8%;
        }

        .copyright-text:hover{
            color: rgb(211, 7, 7);
        }

        </style>