<style>
    img:is([sizes="auto" i], [sizes^="auto," i]) { contain-intrinsic-size: 3000px 1500px }
	
	.header-maps{
            margin-top: 10px;
            font-size: 12px;
            background-color: rgb(230, 230, 230);
            color: rgba(100, 100, 100, 0.904);
            padding-top: 10px;
            padding-bottom: 10px;
            cursor: text;
            width: 100%;
        }

		.span-time{
            margin-left: 40px;
        }
        .span-map{
            margin-left: 40px;
        }
        .span-phone{
            margin-left: 40px;
            cursor: pointer;
        }

        .span-phone:hover{
            color: rgb(238, 56, 56);
        }

		.banner-card{
            margin-top: 10px;
            font-size: 12px;
            background-color: rgb(255, 255, 255);
            padding-top: 10px;
            padding-bottom: 10px;
            width: 100%;
            height: 80px;
        }

        .logo{
            width: 20%;
            margin-left: 50px;
            top: 100px;
            left: 40px;
        }

        .home-button{
            font-size: 20px;
            position: absolute;
            top: 13%;
            left: 850px;
            color: rgb(44, 44, 44);
            cursor: pointer;
        }

        .home-button:hover{
            color: red;
        }

        .about-button{
            font-size: 20px;
            position: absolute;
            top: 13%;
            left: 950px;
            color: rgb(44, 44, 44);
            cursor: pointer;
        }

        .about-button:hover{
            color: red;
        }

        .services-button{
            font-size: 20px;
            position: absolute;
            top: 13%;
            left: 1080px;
            color: rgb(236, 0, 0);
            cursor: pointer;
        }

        .services-button:hover{
            color: red;
        }

        .contact-button{
            font-size: 20px;
            position: absolute;
            top: 13%;
            left: 1190px;
            color: rgb(44, 44, 44);
            cursor: pointer;
        }

        .contact-button:hover{
            color: red;
        }

        .Consultation{
            width: 250px;
            height: 210px;
            margin-left: 150px;
            margin-top: 70px;
        }

        .sc_icons_title{
            font-size: 18px;
            margin-left: 220px;
            font-family: sans-serif;
            font-style: normal;
            font-weight: 400;
            letter-spacing: normal;
            color: rgb(30, 42, 52);
        }

        .sc_icons_description{
            color: rgb(30, 42, 52);
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 17px;
            font-style: normal;
            font-weight: 400;
            height: 112.031px;
            width: 350px;
            margin-left: 100px;
            text-align: center;
        }

        .plane-load{
            width: 250px;
            height: 210px;
            position: absolute;
            top: 35%;
            margin-left: 550px;
        }

        .sc_icons_title2{
            font-size: 18px;
            margin-left: 220px;
            font-family: sans-serif;
            font-style: normal;
            font-weight: 400;
            letter-spacing: normal;
            color: rgb(30, 42, 52);
            position: absolute;
            top: 68%;
            margin-left: 650px;
        }

        .sc_icons_description2{
            color: rgb(30, 42, 52);
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 17px;
            font-style: normal;
            font-weight: 400;
            height: 112.031px;
            width: 350px;
            margin-left: 500px;
            text-align: center;
            position: absolute;
            top: 79%;
        }

        .procurement{
            width: 250px;
            height: 210px;
            position: absolute;
            top: 35%;
            margin-left: 980px;
        }

        .sc_icons_title3{
            font-size: 18px;
            margin-left: 220px;
            font-family: sans-serif;
            font-style: normal;
            font-weight: 400;
            letter-spacing: normal;
            color: rgb(30, 42, 52);
            position: absolute;
            top: 68%;
            margin-left: 1055px;
        }

        .sc_icons_description3{
            color: rgb(30, 42, 52);
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 17px;
            font-style: normal;
            font-weight: 400;
            height: 112.031px;
            width: 350px;
            margin-left: 930px;
            text-align: center;
            position: absolute;
            top: 79%;
        }

        .shipping{
            width: 250px;
            height: 210px;
            position: absolute;
            top: 120%;
            margin-left: 150px;
        }

        .sc_icons_title4{
            font-size: 18px;
            margin-left: 220px;
            font-family: sans-serif;
            font-style: normal;
            font-weight: 400;
            letter-spacing: normal;
            color: rgb(30, 42, 52);
            position: absolute;
            top: 154%;
            margin-left: 220px;
        }

        .sc_icons_description4{
            color: rgb(30, 42, 52);
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 17px;
            font-style: normal;
            font-weight: 400;
            height: 112.031px;
            width: 350px;
            margin-left: 100px;
            text-align: center;
            position: absolute;
            top: 165%;
        }

        .gold{
            width: 250px;
            height: 210px;
            position: absolute;
            top: 120%;
            margin-left: 550px;
        }

        .sc_icons_title5{
            font-size: 18px;
            margin-left: 220px;
            font-family: sans-serif;
            font-style: normal;
            font-weight: 400;
            letter-spacing: normal;
            color: rgb(30, 42, 52);
            position: absolute;
            top: 154%;
            margin-left: 610px;
        }

        .sc_icons_description5{
            color: rgb(30, 42, 52);
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 17px;
            font-style: normal;
            font-weight: 400;
            height: 112.031px;
            width: 350px;
            margin-left: 500px;
            text-align: center;
            position: absolute;
            top: 165%;
        }

        .agri{
            width: 250px;
            height: 210px;
            position: absolute;
            top: 120%;
            margin-left: 960px;
        }

        .sc_icons_title6{
            font-size: 18px;
            margin-left: 220px;
            font-family: sans-serif;
            font-style: normal;
            font-weight: 400;
            letter-spacing: normal;
            color: rgb(30, 42, 52);
            position: absolute;
            top: 154%;
            margin-left: 1000px;
        }

        .sc_icons_description6{
            color: rgb(30, 42, 52);
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 17px;
            font-style: normal;
            font-weight: 400;
            height: 112.031px;
            width: 350px;
            margin-left: 920px;
            text-align: center;
            position: absolute;
            top: 165%;
        }

        .action{
            width: 100%;
            height: 250px;
            position: relative;
            top: 570px;
        }

        .sc_action_item_subtitle{
            color: rgb(247, 214, 162);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 24.262px;
            font-style: normal;
            height: 31.5469px;
            letter-spacing: normal;
            font-weight: 300;
            line-height: 31.5406px;
            position: absolute;
            top: 200%;
            margin-left: 450px;
        }

        .sc_action_item_title{
            color: rgb(255, 255, 255);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 27.124px;
            font-style: normal;
            font-weight: 600;
            height: 34.4844px;
            letter-spacing: -0.52248px;
            line-height: 34.4837px;
            text-align: center;
            width: 738px;
            position: absolute;
            top: 210%;
            margin-left: 280px;
        }

        .sc_contact_item_link{
            background-color: rgb(93, 84, 221);
            color: #fff;
            border: none;
            height: 40px;
            width: 120px;
            border-radius: 20px;
            cursor: pointer;
            position: absolute;
            top: 225%;
            text-align: center;
            font-size: 16px;
            margin-left: 600px;
        }

        .sc_contact_item_link:hover{
            color: blue;
            background-color: #fff;
        }

        .content_wrap{
            width: 100;
            height: 320px;
            position: relative;
            top: 550px;
            background-color: rgb(9, 53, 9);

        .logo2{
            width: 14%;
            height: 70px;
            margin-left: 50px;
            position: absolute;
            top: 10%;
            left: 40px;
        }

        .even-too{
            font-size: 18px;
            width: 350px;
            color: rgb(218, 222, 224);
            margin-left: 110px;
            position: absolute;
            top: 44%;
        }

        .menu-quick-links-container{
            font-size: 18px;
            width: 150px;
            position: absolute;
            top: 33%;
            margin-left: 700px;
            color: aliceblue;
        }

        .widget_title{
            font-size: 20px;
            font-family: 'Courier New', Courier, monospace;
            margin-left: 700px;
            color: #fff;
            position: absolute;
            top: 15%;
        }

        .home{
            color: #a8a3a3;
        }

        .home:hover{
            color: rgb(207, 17, 17);
        }
        
        .about{
            color: #a8a3a3;
        }

        .about:hover{
            color: rgb(207, 17, 17);
        }

        .services{
            color: #a8a3a3;
        }

        .services:hover{
            color: rgb(207, 17, 17);
        }

        .contact{
            color: #a8a3a3;
        }

        .contact:hover{
            color: rgb(207, 17, 17);
        }

        .copyright-scheme{
            width: 100%;
            height: 50px;
            font-size: 16px;
            position: relative;
            top: 350px;
            background-color: rgb(1, 37, 1);
        }

        .copyright-text{
            color: #fff;
            margin-left: 470px;
        }

        .at{
            color: #a8a3a3;
        }

        .shadow{
            height: 38px;
            position: absolute;
            top: 98%;
            width: 100%;
        }

        .copyright-text:hover{
            color: rgb(211, 7, 7);
        }

    </style>